html {
    font-size: 22px;
}
body{
    background: color #d80707;
    color:rebeccapurple;
}

table.tr,th,td,caption{
    border: 1px solid #d80707;
    front font-weight: courier new,courier,momnospace;
    border-collapse;
    padding:0.5rem;
}